/*
Custom CSS for OSEHRA VistA Site.
License: Apache 2.0

*/


/* HEADER ELEMENTS */

header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Times New Roman', 'Helvetica Neue', Helvetica, Arial, serif; 
  /*Temporary removal for re-sizing.*/
  /*background: #2e7bcf url(../img/header-bg.png) 0 0 repeat-x;*/
  background: #2e7bcf;
  min-height: 300px;
  text-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
}

header a:hover {
  text-decoration: none;
}

header h1 {
  letter-spacing: 5px;
  font-size: 78px;
  color: #fff;
  line-height: 1;
  margin: 0 auto;
  text-align: center;
  font-weight: normal;
}

header #logo {
 margin: 0 auto;
 text-align: center;
}

header h3 {
  margin: 0 auto;
  text-align: center;
  width: 200px;
  color: #fff;
  font-size: 20px;
  letter-spacing: 20px;
  border-bottom: #fff 1px ;
  border-top: #fff 1px;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  padding-left: 15px;
  margin-bottom: 5px;
  line-height: 1.5;
}

header a img {
  padding-bottom: 10px;
}

header h2 {
  font-size: 20px;
  color: #fff;
  font-weight: normal;
  line-height: 1.3;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0;
  padding: 20px 10px 0 10px;
  background: transparent;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif; 
}

header #h2-caption {
 max-width: 800px;
 margin: 0 auto;
}

#navigation {
  margin: 30px 10px 0 10px;
  width: 100%;
  text-align: center;
}

/* BODY ELEMENTS */

#buttons {
  text-align: center;
  margin: 30px auto;
  width: 100%;
  font-family: 'Helvetica';
  text-transform: uppercase;
  font-weight: bold;
}


#buttons #download {
  padding-left: 80px;
  padding-right: 80px;
}

#buttons #nav-grouping {
  margin: 10px auto;
  max-width: 270px;

}

#buttons #about {
  float: left;
}

#buttons #comm {
  float: right;
}

/* Sub-page styling. */

.navbar-inner {
  background:  #2e7bcf;
}

.navbar .nav .active a, .navbar .nav li a:hover, .navbar .nav .active a:hover {
  background:  rgb(0,109,217);
  color: rgb(255,255,255);
}

.navbar .nav li a {
  color: rgb(255,255,255);
  text-shadow: none;
}

.navbar .brand {
  color: rgb(255,255,255);
  text-shadow: none;
  background: url(../img/nav-logo.png) top left no-repeat;
}

.navbar .btn-navbar, .navbar .btn-navbar:hover {
   background:  rgb(0,109,217); 
}

.nav-collapse .nav .nav-blue a:hover {
    background:  rgb(0,109,217); 
}

.nav-collapse .nav .nav-blue a {
    color: rgb(255,255,255);
    font-weight: normal;
}

#nav-logo {
  padding: 0 35px 35px 0;
  margin-left: 10px;
}

.sub-nav {
  margin-top: 50px;
  width: 200px;
}

section {
  padding-top: 30px;
  }